@font-face {
    font-family: 'ubuntu_light';
    src: url('file:///android_res/font/ubuntu_light.ttf');
}
@font-face {
    font-family: 'milky_nice';
    src: url('file:///android_res/font/milky_nice.ttf');
}
@font-face {
    font-family: 'ubuntu_regular';
    src: url('file:///android_res/font/ubuntu_regular.ttf');
}
@font-face {
    font-family: 'ubuntu_bold';
    src: url('file:///android_res/font/ubuntu_bold.ttf');
}
@font-face {
    font-family: 'ubuntu_italic';
    src: url('file:///android_res/font/ubuntu_italic.ttf');
}
@font-face {
    font-family: 'ubuntu_medium';
    src: url('file:///android_res/font/ubuntu_medium.ttf');
}

body {
    font-family: 'milky_nice';
    font-size: 16px;
    line-height: 27px;
    padding-top: 10px;
    padding-bottom: 20px;
}

pb {
    font-family: 'ubuntu_regular';
    font-size: 14px;
}

h1 {
    font-family: 'milky_nice';
    font-size: 30px;
    color: blue;
    line-height: 32px;
}

h2 {
    font-family: 'ubuntu_light';
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-family: 'ubuntu_light';
    font-size: 22px;
    line-height: 32px;
}

h4 {
    font-family: 'ubuntu_light';
    font-size: 18px;
    line-height: 30px;
}

a {
    color: red;
}

a:visited {
    color: pink;
}
